@import "./assets/stylesheets/util/fonts.css";
@import "./assets/stylesheets/util/backgrounds.css";
@import "./assets/stylesheets/util/colors.css";
@import "./assets/stylesheets/util/dimens.css";
@import "./assets/stylesheets/util/transitions.css";

* {
  font-family: 'IBM Plex Sans', sans-serif;
  scrollbar-width: none
}

::-webkit-scrollbar {
  display: none;
}

label {
  color: #E83A63;
}

input, select { 
  height: 2.625rem;
}

input, select, textarea {
  background-color: #FAFAFA;
  border: 1px solid #EAEDF4;
  border-radius: 6px;
  outline: none;
}

textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::placeholder {
  color: #A5B8CD
}

.w-max-content {
  width: max-content;
}

.div-btn {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
}

.btn {
  height: 3rem;
  width: 100%;
  font-size: 1.125rem;
}

.btn-primary {
  background-image: linear-gradient(to right, #E83A63, #FF819E);
  opacity: 40%;
  border: 0px;
  border-radius: 9999px;
  color: #FFFFFF;
}

.btn-secondary {
  background-color: #E83A63;
  padding: 8px 16px;
  border-radius: 6px;
}

.btn-gradient {
  background-image: linear-gradient(to right, #E83A63, #FF819E);
}

.btn-rounded {
  min-width: 13.5rem;
  max-width: 60%;
  border-radius: 9999px;
  color: #FFFFFF;
}

.logo {
  font-family: Pacifico;
}

/* no select text highlighting in mozilla */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
select {
  background: transparent;
}

@media (max-height: 800px) {
  input, select { 
    height: 2.25rem;
  }
}