#landing {
  font-size: 7vw;
}

#signup {
  max-height: 60px;
  max-width: 288px; 
  height: 10vh;
  width: 60%;
  border-radius: 9999px;
  opacity: 100%;
}

@media (min-width: 500px) {
  #signup {
    height: 10vh; 
    width: 50vw; 
  }

  #login:hover {
    background-color: #FFFFFF;
    color: #E83A63;
  }

  .grow:hover {
    transform: scale(1.02);
  }
}